--extra-index-url https://download.pytorch.org/whl/cpu
datasets==2.16.1
evaluate==0.4.1
fastapi==0.109.0
pandas==2.2.0rc0
pydantic==2.5.3
pytest==7.4.4
scikit-learn==1.2.2
torch==2.1.1
torchinfo==1.8.0
transformers==4.35.2
uvicorn==0.25.0