--extra-index-url https://download.pytorch.org/whl/cpu

datasets==2.16.1
evaluate==0.4.1
fastapi==0.109.2
pandas==2.1.4
rouge_score==0.1.2
scikit-learn==1.4.0
sentencepiece==0.2.0
torch==2.1.2
torchinfo==1.8.0
transformers==4.37.1
uvicorn==0.27.1
